<h1>Test Dashboard for DLH</h1>
<p>Normally we would not include this page but it is necessary to show the two dashboard templates</p>

<%= link_to "Notification Template", '/main/notification'%> <br/>
<%= link_to "Tile KPI Template", '/main/kpis'%> <br/>
