<div class="header">
  DLH Dashboard
</div>
<div id="content" style="margin-top:7vh;width: 100vw;height: 89vh; overflow-x: hidden">
  <div id="main" style="display: table;width: 100%;">
    <div style="display: table-row" id="heading">
      <div class="table-header-cell" style="display: table-cell">
        Item
      </div>
      <div class="table-header-cell" style="display: table-cell">
        Amount Available
      </div>
      <div class="table-header-cell" style="display: table-cell">
        Threshold
      </div>
      <div class="table-header-cell" style="display: table-cell">
        Projected Stock Days
      </div>
    </div>
    <div id="dataSection" style="display: table-row-group">
    </div>
  </div>
</div>
<div class="footer">
  sample dashboard
</div>

<script type="text/javascript">
    // This interval call fetches new data every minute and updates the dashboard
    setInterval("updateRecords('/notices')", 60000)
</script>