/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
    margin: 0px;
    padding: 0px;
}

div.header{
    position:fixed;
    width: 100vw;
    left:0px;
    top:0px;
    padding:10px;
    height: 5vh;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 150%;
}

div.footer{
    position:fixed;
    width: 100vw;
    left:0px;
    bottom:0px;
    padding:10px;
    height: 5vh;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 150%;
    text-align: center;
}
.table-header-cell{
    text-align: left;
    font-size: 1.5em;
    display: table-cell;
    padding: 5px;
    border: 1px solid #ffffff;
    background-color: #DEDBA7;
    color: #000000;
}
.even{
    background-color: gainsboro;
}
.odd{
    background-color: #FFFFFF;
}
div.base-cell{
    display: table-cell;
    padding: 5px;
    font-size: 120%;
}
.tile{
    border: 1px solid #000000;
    height: inherit;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}